/*It makes the calculator to be at the center of the page*/
.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#appc300 {
    height: 420px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(39, 39, 39);
    
    
}

#appc300 form {
    height: 100%;
    width: 100%;
    border-radius: 32px;
    box-shadow: 15px 15px 8px rgba(10, 0, 0, 0.5)
}

#appc300 input[type=textfield] {
    height: 25%;
    width: 292px;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 50px;
    border: none;
    outline: none;
    border-radius: 32px;
}

#appc300 input[type=button], input[type=reset]{
    width: 21.5%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: white;
    padding: 18px 20px;
    margin: 1.5px;
    margin-top: 2px;
    border: 0;
    border-radius: 100%;
    background-color: rgb(59, 59, 59);
}


#appc300 .red {
    background-color: rgb(82, 0, 0) !important;
    color: white !important;

}