/*It makes the calculator to be at the center of the page*/
#mainp {
    background-color: rgba(170, 0, 0, 0.795);
    overflow: hidden;
}

.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.buttons {
    height: 290px;
    width: 305px;
    cursor:default;
}

.appc300 {
    height: 420px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(39, 39, 39);
    box-shadow: 15px 15px 5px rgba(10, 0, 0, 0.5)
    
    
    
}

.appc300 form {
    height: 100%;
    width: 100%;
    border-radius: 32px;

    
}

.appc300 input[type=textfield] {
    height: 25%;
    width: 270px;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 50px;
    border: none;
    outline: none;
    border-radius: 32px;
    padding: 4px;
    padding-left: 12px;
}

.appc300 input[type=button], input[type=reset]{
    width: 21.5%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: white;
    padding: 18px;
    margin: 1.5px;
    margin-top: 2px;
    border: 0;
    border-radius: 100%;
    background-color: rgb(59, 59, 59);
    box-shadow: 1px 1px 5px rgba(10, 0, 0, 0.5)
}

.appc300 input[type=button]:hover {
    background-color: rgb(94, 94, 94)
}

.appc300 input[type=reset]:hover{
    background-color: rgb(94, 94, 94)
}

#appc300 .red {
    background-color: rgb(94, 94, 94)
}

#appc300 .red:hover {
    background-color: rgb(59, 59, 59)
}

